#principal{
    background-color: #ccc;
    height: 15vh;
    position:sticky;
    z-index: 999;
    top: 0;
}
.menuHorizontal{
    background-color: rgba(0,0,0,.1);
}
.menuHorizontal::after{
    content: '';
    display: block;
    clear: both;
}
.menuHorizontal ul li{
    display: inline;
}
.menuHorizontal ul{
    padding: 1vh;
    margin: 0vh;
    list-style: none;
    text-align: right;

}
.menuHorizontal ul li a{
    padding: 0.2vw 5vh;
    display: inline-block;
    color: black;
    text-decoration: none;
    
}
.menuHorizontal ul li a:hover{
   background-color: blue;
   font-size: 20px;
   font-weight: bold;
}
p{
    font-weight: bold;
    font-size: 26px;
}
#politica{
    background-color: #dfdc2a;
    height: 10vw;
}
#esportes{
    background-color: greenyellow;
    height: 20vw;
}
#entretenimento{
    background-color: aqua;
    height: 10vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#economia{
    background-color: rgb(212, 83, 83);
    height: 10vw;
}
#mundo{
    background-color: #4d43d6;
    height: 15vw;
}
footer h1{
    background-color: rgb(83, 26, 53);
}
.voltarTopo{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    text-decoration: none;
    color: white;
    padding: 2vh;
    background-color: rgba(0,0,0,.3);
    font-size: 12px;
}
.voltarTopo:hover{
    background-color: rgba(0,0,0,.6);
}
footer{
    bottom: 0;
    position: sticky;
}